/* stylelint-disable docusaurus/copyright-header */

/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
  
}

.featureInner {
  background: #FFFFFF;
  box-shadow: 0px 3px 19px rgba(0, 0, 0, 0.08);
  border-radius: 10px;
  padding-bottom: 11px;
}

@media screen and (min-width: 1600px) {
  .featureInner  {
    height: 100%;
  }
  .featureImagePic {
    display: block;
    margin: auto;
  }
}

.feature:nth-child(3){
  margin-right: 0px;
}

.featureImage {
  margin-top: 17px;
}

.featureImagePic {
  height: 250px;
}

.columns {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  flex: 33.33%;
}

.columnHalf {
  flex: 50%;
} 
.column button, .columnHalf button {
  background: #F2982D;
  border-radius: 30px;
  height: 38px;
  width: 90%;
  border: none;
  margin-left: 9px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  cursor: pointer;
  text-align: center;
  color: #FFFFFF;
  
}

button:hover {
  background: #E5A65A;
}


section.features_src-pages->div.container  {
  margin-bottom: 128px;
}

div.col:first-child img:nth-child(2){
  height: 112px;
}