/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");

:root {
  --ifm-color-primary: #25c2a0;
  --ifm-color-primary-dark: rgb(33, 175, 144);
  --ifm-color-primary-darker: rgb(31, 165, 136);
  --ifm-color-primary-darkest: rgb(26, 136, 112);
  --ifm-color-primary-light: rgb(70, 203, 174);
  --ifm-color-primary-lighter: rgb(102, 212, 189);
  --ifm-color-primary-lightest: rgb(146, 224, 208);
  --ifm-code-font-size: 95%;
}

.markdown img {
  display: block;
}

.navbar {
  background-color: #00adee !important;
}

.navbar__link--active {
  color: white;
}

div.main-wrapper {
  background-image: url("../../static/img/home_background.png");
  background-size: cover;
}

.menu {
  padding-top: 175px;
  background-color: #ececec;
  font-family: Inter;
  font-style: normal;
  font-size: 16px;
  letter-spacing: -0.011em;
  color: #aeaeae !important;
}

.menu li {
  padding-top: 12px;
  padding-bottom: 12px;
}

ul > li > ul {
  background: rgba(37, 194, 160, 0.4);
}

ul > li > ul > li > a {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff !important;
}

ul .menu__list {
  margin-left: 0px;
}

div.menu {
  background-color: #ececec;
}

.menu__link--active {
  color: black;
}

.menu__link--active:not(.menu__link--sublist) {
  background: none;
}

.menu li {
  border-bottom: 1px solid white;
}

a.menu__link {
  /*margin-top: 10px;
  height: 40px; 
  padding-top: 6px;*/
}

.hero {
  background-color: transparent !important;
  color: black;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  height: 80px;
}

.hero h1 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 47px;
  color: #ffffff;
}

.hero h4 {
  font-size: 16px;
  line-height: 0px;
  color: white;
  font-weight: normal;
}


@media (max-width: 800px) {
  .hero {
    margin-top: 30px;
    font-size: 30px;
    height: 90px;
  }
}

div.main-wrapper.docs-wrapper {
  background-image: none;
}

.navbar__link:hover {
  color: #00adee;
}

.navbar__link:active {
  color: #00adee;
}

.navbar__link {
  color: white;
  font-family: Roboto;
  font-family: "Roboto", sans-serif;
  line-height: 21px;
  font-weight: bold;
}

.navbar__link:nth-child(5) {
  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 24px;
  margin-right: 10px;
}

.navbar__link:nth-child(5):hover {
  background: white;
  color: #00adee;
}

.docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

html[data-theme="dark"] .docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.3);
}

#box {
  display: flex;
  align-items: center;
  margin-top: 20px;
  justify-content: center;
}


.footer {
  background-color: #33bdf1;
}

.footer__bottom {
  margin-top: 14px;
}

#imgFooter {
  float: left;
  width: 35px;
  margin-top: -13px; 
}

#footerBox1 a {
  margin-bottom: 15px;
  color: white;
}

#box div:nth-child(2) {
  width: 268px;
  padding-left: 5px;
  display: flex;
}

.boxLanding {
  display: flex;
  justify-content: center;
}

.boxLandingColumn2 {
  display: flex;
  justify-content: center;
  padding-left: 0px !important;
}

.boxLandingColumn2 div {
  text-align: left;
  margin-right: 20px;
  padding: 0 15px 15px 0px;
  padding-bottom: 20px;
  padding-left: 0px !important;
}

@media (max-width: 800px) {
  .boxLanding {
    flex-direction: column;
  }
}

.boxLanding div {
  text-align: left;

  padding-bottom: 20px;
}

.box-reference-shadow {
  box-shadow: 0px 3px 19px rgba(0, 0, 0, 0.08);
  border-radius: 10px;
  padding-left: 10px;
  width: 97%;
}

.margin-bottom-20 {
  margin-bottom: 20px;
}

.margin-top-30 {
  margin-top: 30px !important;
}
.boxLanding .parentContainer {
  background: #ffffff;
  padding: 0px;
  padding-top: 9px;
  margin-right: 3px;
  width: 100%;
}

.parentContainer h3 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  text-align: center;
  color: #888888;
}

.box div:nth-child(2) {
  width: 55px;
}

section.features_src-pages- > div.container {
  margin-bottom: 128px;
}

div.col:first-child img:nth-child(2) {
  height: 249px;
}

.menu li:last-child {
  border: none;
}

article > header > h1 {
  text-align: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px !important;
  color: #666666;
}

article > header > h3 {
  text-align: center;
}

.parentContainer a {
  display: block;
}

.marginTop25 {
  margin-top: 25px;
}

.markdown > h3.homeDocLandingVersion {
  font-family: Roboto;
  font-style: normal;
  font-size: 19px;
  text-align: center;
  font-weight: 700;
  line-height: 22.27px;
  margin-top: 0px;
  color: #666666;
  margin-top: calc(
    var(--ifm-leading-desktop) * -1 * var(--ifm-leading)
  ) !important;
}

.markdown h5 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 22px;
  align-items: center;
  color: #25c2a0;
}

.markdown p {
  background: #ffffff;
  box-shadow: 0px 3px 19px rgba(0, 0, 0, 0.08);
  border-radius: 10px;
  padding: 18px !important;
  font-family: Inter;
  font-style: normal;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #666666;
}

.menu__list-item li {
  margin-left: 0px;
}

@media (max-width: 800px) {
  .featureInner_src-pages- .text--center {
    margin-top: 20px !important;
  }
}

.menu .menu--responsive .thin-scrollbar {
  padding-left: 0px !important;
}

.menu__list {
  margin-left: 0px !important;
}

ul.menu__list {
  margin-left: 0px;
}

.menu.menu--responsive.thin-scrollbar.menu_node_modules-\@docusaurus-theme-classic-lib-next-theme-DocSidebar- {
  padding-left: 0px !important;
}

div.menu.menu--responsive {
  padding-left: 0px !important;
}

ul.dropdown__menu {
  background: #00adee !important;
}

ul.dropdown__menu>li {
  color: white;
  border-bottom: 1px solid white;
  border-radius: 0;
  text-align: center;
  padding: 10px;
}

a.dropdown__link {
  color: white;
}


ul.dropdown__menu>li:last-child {
  border-bottom: none !important;
}

.dropdown__link:nth-child(1):hover {
  color: #00adee !important;
  background-color: white !important;
}

.navbar__link:nth-child(1):hover {
  color: #00adee;
}

li>ul.menu__list>li.menu__list-item:hover {
    background-color: #95D1C3;
    text-decoration: none;
    color: var(--ifm-menu-color);
    transition-property: color, #95D1C3;
    transition-duration: var(--ifm-transition-fast);
    transition-timing-function: var(--ifm-transition-timing-default);
}

.menu__link:hover { 
  background-color: #95D1C3;
  text-decoration: none;
  color: var(--ifm-menu-color);
  transition-property: color, #95D1C3;
  transition-duration: var(--ifm-transition-fast);
  transition-timing-function: var(--ifm-transition-timing-default);
}

.dropdown__link:hover {
  color: #00adee !important;
}


.navbar__item.dropdown.dropdown--hoverable.dropdown--right:hover { 
  background-color: white;
  padding: 0;
  margin: 0;
}

  .navbar__item.dropdown.dropdown--hoverable.dropdown--right:hover a.navbar__item{
    color: #00adee
  }

  .dropdown > .navbar__link:after{
    display: none;
  }
 
  .navbar__item .navbar__link:hover {
    border-radius: none;
  }

  ul>li>ul>li>a {
    margin-left: 20px;
  }

  ul>li>ul>li>a.menu__link {
    /*height: 59px;*/
    padding-top: 6px;
    padding-bottom: 17px;
  }

  li>ul.menu__list>li.menu__list-item {
    /*margin-top: -22px; */
    padding-bottom: 0px;
    margin-bottom: 0px;
  }

  a.menu__link.menu__link--active.active {
    background: #FFFFFF;
    color: #888 !important;
    margin: 0px;
    /*margin-top: 10px; */
    top: 0;
    margin-top: -16px !important;
    border-radius: 0px;
    border: 0px !important;
    padding-left: 37px;
    border: 0px;
    /*height: 59px;*/
}

.center {
  margin: auto;
  width: 260px;
  height: 70px;
}

.container-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.label-toggle {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #F2982D;
  margin-right: 5px;
  margin-left: 5px;
}
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  margin: 0 auto;
  text-align: center;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: lightgray;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.navbar__item.dropdown.dropdown--hoverable.dropdown--right:first-child>ul {
  left: -13%
}

.navbar__item.dropdown.dropdown--hoverable.dropdown--right:nth-child(2)>ul {
  left: -12%
}

.navbar__item.dropdown.dropdown--hoverable.dropdown--right:nth-child(3)>ul {
  left: -1%
}

.navbar__item.dropdown.dropdown--hoverable.dropdown--right:nth-child(4)>ul {
  left: -71%
}

input:checked + .slider{
  background-color: lightgray;
}

.thin-scrollbar li.menu__list-item:first-child {
  display: none;
}

.thin-scrollbar>ul>li>ul>li.menu__list-item:first-child {
  display: block;
}

.margin-right-10 {
  margin-right: 10px;
}

.pagination-nav {
  display: none;
}

.menu.menu--responsive.thin-scrollbar {
  padding-right: 0px !important;
}

.orange-link {
  color: #F2982D;
  font-style: normal;
  font-family: Roboto;
  font-size: 16px;
}

.orange-link:hover {
  color: #F2982D;
  font-style: normal;
  font-family: Roboto;
  font-size: 16px;
  
}

.box-reference-shadow > h3 {
  padding-top: 16px;
}

@media screen and (min-width: 1600px) {

  .col.col--6.feature_src-pages-:nth-child(3)>div>div {
    margin-top: 2px;
}
  .row .col.col--6 {
    flex: 25% !important;
    max-width: 25% !important;
  }
  
  .col.col--6.feature_src-pages-:nth-child(3) {
    margin-top: -2px ;
   }

  .col.col--6.feature_src-pages-:nth-child(4) {
  margin-top: 1px;
   }

   .columns_src-pages-:nth-child(3) {
     margin-top: 9px;
  }
}

@media screen and (max-width: 1599px) {
  .col.col--6:first-child>div {
    margin-left: 20%;
  }

  .col.col--6:nth-child(3)>div {
    margin-left: 20%;
  }
}


@media screen and (max-width: 997px) {
  .col.col--6:first-child>div {
    margin: 0 auto;
    margin-bottom: 25px;
  }

  .col.col--6:nth-child(2)>div {
    margin: 0 auto;
  }

  .col.col--6:nth-child(3)>div {
    margin: 0 auto;
  }

  .col.col--6:nth-child(4)>div {
    margin: 0 auto;
  }
}


@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem;
  }

  .hero__title {
    font-size: 18px;
    margin-top: 10px;
  }

  .hero__subtitle {
    display: none;
  }
}