/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */


@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");

:root {
  --ifm-color-primary: #25c2a0;
  --ifm-color-primary-dark: rgb(33, 175, 144);
  --ifm-color-primary-darker: rgb(31, 165, 136);
  --ifm-color-primary-darkest: rgb(26, 136, 112);
  --ifm-color-primary-light: rgb(70, 203, 174);
  --ifm-color-primary-lighter: rgb(102, 212, 189);
  --ifm-color-primary-lightest: rgb(146, 224, 208);
  --ifm-code-font-size: 95%;
}

.navbar {
  background-color: #00adee !important;
}

.navbar__link--active {
  color: white;
}

div.main-wrapper {
  background-image: url("../../static/img/home_background.png");
  background-size: cover;
}

.menu {
  padding-top: 175px;
  background-color: #ececec;
  font-family: Inter;
  font-style: normal;
  font-size: 16px;
  letter-spacing: -0.011em;
  color: #aeaeae !important;
}

.menu li {
  padding-top: 12px;
  padding-bottom: 12px;
}

ul > li > ul {
  background: rgba(37, 194, 160, 0.4);
}

ul > li > ul > li > a {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff !important;
}

ul .menu__list {
  margin-left: 0px;
}

div.menu {
  background-color: #ececec;
}

.menu__link--active {
  color: black;
}

.menu__link--active:not(.menu__link--sublist) {
  background: none;
}

.menu li {
  border-bottom: 1px solid white;
}

.hero {
  background-color: transparent !important;
  color: black;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  height: 80px;
}

.hero h1 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 47px;
  color: #ffffff;
}

@media (max-width: 800px) {
  .hero {
    margin-top: 30px;
    font-size: 30px;
    height: 90px;
  }
}

div.main-wrapper.docs-wrapper {
  background-image: none;
}

.navbar__link:hover {
  color: white;
}

.navbar__link {
  color: white;
  font-family: Roboto;
  font-family: "Roboto", sans-serif;
  line-height: 21px;
  font-weight: bold;
}

.navbar__link:nth-child(4) {
  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 24px;
  margin-right: 10px;
}
.docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

html[data-theme="dark"] .docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.3);
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.box div {
  width: 128px;
}

.boxLanding {
  display: flex;
  justify-content: center;
}

@media (max-width: 800px) {
  .boxLanding {
    flex-direction: column;
  }
}

.boxLanding div {
  text-align: center;
  margin-right: 20px;
  padding: 0 15px 15px 15px;
  padding-bottom: 20px;
}

.boxLanding .parentContainer {
  background: #ffffff;
  box-shadow: 0px 3px 19px rgba(0, 0, 0, 0.08);
  border-radius: 10px;
  padding-top: 9px;
}

.parentContainer h3 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  color: #888888;
}

.box div:nth-child(2) {
  width: 55px;
}

section.features_src-pages- > div.container {
  margin-bottom: 128px;
}

div.col:first-child img:nth-child(2) {
  height: 242px;
}

.menu li:last-child {
  border: none;
}

article > header > h1 {
  text-align: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  color: #666666;
}

article > header > h3 {
  text-align: center;
}

.parentContainer a {
  display: block;
}

.marginTop25 {
  margin-top: 25px;
}

.markdown>h3.homeDocLandingVersion{
  font-family: Roboto;
  font-style: normal;
  font-size: 19px;
  text-align: center;
  font-weight: 700;
  line-height: 22.27px;
  margin-top: 0px;
  color: #666666;
  margin-top: calc(var(--ifm-leading-desktop) * -1 * var(--ifm-leading)) !important;
}

.markdown h5 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 22px;
  align-items: center;
  color: #25C2A0;
}

.markdown p {
  background: #FFFFFF;
  box-shadow: 0px 3px 19px rgba(0, 0, 0, 0.08);
  border-radius: 10px;
  padding: 18px !important;
  font-family: Inter;
  font-style: normal;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #666666;
}

.menu__list-item li {
  margin-left: 0px;
}

@media (max-width: 800px) {
  .featureInner_src-pages- .text--center {
    margin-top: 20px !important;
  }
}

.menu .menu--responsive .thin-scrollbar  {
  padding-left: 0px !important;
}

.menu__list {
  margin-left: 0px !important;
}

ul.menu__list {
  margin-left: 0px;
}

.menu.menu--responsive.thin-scrollbar.menu_node_modules-\@docusaurus-theme-classic-lib-next-theme-DocSidebar- {
  padding-left: 0px !important
}