/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

:root {
  --ifm-color-primary: #25c2a0;
  --ifm-color-primary-dark: rgb(33, 175, 144);
  --ifm-color-primary-darker: rgb(31, 165, 136);
  --ifm-color-primary-darkest: rgb(26, 136, 112);
  --ifm-color-primary-light: rgb(70, 203, 174);
  --ifm-color-primary-lighter: rgb(102, 212, 189);
  --ifm-color-primary-lightest: rgb(146, 224, 208);
  --ifm-code-font-size: 95%;
}

.navbar {
  background-color: #00ADEE !important;
}

.navbar__link--active {
  color: white;
  
}

div.main-wrapper {
  background-image: url("../../static/img/home_background.png");
  background-size: cover;
}

.menu {
  padding-top: 175px;
  background-color: #ECECEC;
  font-family: Inter;
  font-style: normal;
  font-size: 16px;
  letter-spacing: -0.011em;
  color: #AEAEAE !important;
}

.menu li {
  padding-top: 12px;;
  padding-bottom: 12px;;
}

ul>li>ul {
  background: rgba(37, 194, 160, 0.4);
  font-family: Roboto;
}

ul>li>ul>li>a {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF !important;
}

ul .menu__list {
  margin-left: 0px;
}


div.menu {
  padding-top: 155px;
  background-color: #ECECEC;
}

.menu__link--active {
  color: black;
}

.menu__link--active:not(.menu__link--sublist) {
  background: none;
}

.menu li {
  border-bottom: 1px solid white;
}

.hero {
  background-color: transparent !important; 
  color: black; 
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  height: 80px;
}

.hero h1 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 47px;
  color: #FFFFFF;
}

div.main-wrapper.docs-wrapper {
  background-image: none;
}

.navbar__link:hover {
  color: white;
}

.navbar__link {
  color: white;
  font-family: Roboto;
  font-family: 'Roboto', sans-serif;
  line-height: 21px;
  font-weight: bold;
}

.navbar__link:nth-child(4) {
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 24px;
  margin-right: 10px;
}
.docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

html[data-theme='dark'] .docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.3);
}
